/*home*/
section h2 span{
	color: $color2;
	font-family: Oswald;
}
.features{
	color: $color2;
	.tools{
		padding: 5px;
		h2{
			font-size: 20px;
			font-weight: bold;
		}
		img{
			float: left;
			margin: 5px 5px 5px 0px;
			width: 15%;
		}
	}
	button{
		background-color: $color2;
		color: white;
		border: 1px solid $color2;
		padding: 5px;
		&:hover{
			background-color: darken($color2, 15%);
		}
	}
}
.images{
	img{
		width: 100%;
	}
	.border{
		padding: 10px;
		border-left: 1px solid gray;
		border-right: 1px solid gray;
		border-bottom: 1px solid gray;
		h3{
			font-family: Oswald;
			color: $main-gray;
		}
		h4{
			color: $main-color;
			font-family: Oswald;
		}
	}
}
.dashed{
		h2{
			img{
				height: 20px !important;
				width: 80% !important;
				float: right;
			}
		}
}
/**fin home**/
/**about us**/
.aboutus{
	img{
		width: 100%;
		margin:  10px 10px 10px 0px;
	}
	h3{
		color: $color2;
		font-family: Oswald;
	}
	.border-left{
		border-left: 5px solid $color2;
		color: $color2;
		padding-left: 20px;
		margin: 20px 0px 20px 20px;
	}
	.dashed{
		h3{
			img{
				height: 20px !important;
				width: 60% !important;
				float: right;
			}
		}
		ul{
			padding: 0%;
			li{
				font-weight: bold;
			}
		}
	}
	.gallery{
		img{
			margin: 0% 0% 5px 0%;
			border: 1px solid $main-color;
		}
	}
}
//**fin about us**//