/*home*/
section h2 span{
	color: $color2;
	font-family: Oswald;
}
.features{
	color: $color2;
	.tools{
		padding: 5px;
		h2{
			font-size: 20px;
			font-weight: bold;
		}
		img{
			float: left;
			margin: 5px 5px 5px 0px;
			width: 15%;
		}
	}
	p{
		margin: 10px 0px 10px 0px;
	}
	button{
		background-color: $color2;
		color: white;
		border: 1px solid $color2;
		padding: 5px;
		&:hover{
			background-color: darken($color2, 15%);
		}
	}
}
.images{
	img{
		width: 100%;
	}
	.border{
		padding: 10px;
		border-left: 1px solid gray;
		border-right: 1px solid gray;
		border-bottom: 1px solid gray;
		h3{
			font-family: Oswald;
			color: $main-gray;
		}
		h4{
			color: $main-color;
			font-family: Oswald;
		}
	}
}
/**fin home**/
/**about us**/
.aboutus{
	img{
		width: 100%;
		margin:  10px 10px 10px 0px;
	}
	h3{
		color: $color2;
		font-family: Oswald;
	}
	.border-left{
		border-left: 5px solid $color2;
		color: $color2;
		padding-left: 20px;
		margin: 20px 0px 20px 20px;
	}
	ul{
		padding: 0%;
		li{
			font-weight: bold;
		}
	}
}
//**fin about us**//
//**Blog**//
.blog{
	h3{
		color: $color2;
		font-family: Oswald;
	}
	h4{
		color: $color2;
		font-family: Oswald;
	}
	.p-gray{
		background-color: lighten($main-gray, 30%);
		padding: 25px;
		img{
			float: left;
			margin-top: -20px;
		}
	}
	.buttons{
		margin-left: 10%;
		button{
			background-color: $color2;
			color: white;
			padding: 10px 15px 10px 15px;
			&:hover{
				background-color: darken($color2, 20%);
			}
		}
	}
}
//**PORTFOLIO**//
.portfolio{
	img{
		width: 100%;
	}
	h3{
		font-family: Oswald;
	}
	ul{
		margin: -40px 0px 30px 13%;
		li{
			display: inline-block;
			padding: 10px;
			a{
				font-family: Oswald;
				color: $main-gray;
				&:hover{
					background-color: $color2;
					color: white;
					font-weight: bold;
					padding: 10px;
				}
			}
		}
	}
	.text-images{
		border: 1px solid $main-gray;
		margin: 5px 0px 20px 0px;
		padding: 5px 0px 0px 5px;
		h4{
			font-family: Oswald;
			color: $main-gray;
		}
		h5{
			color: $color2;
			font-family: Oswald;
		}
	}
}
//**contact**/
.contact{
	h5{
		color: $color2;
		font-family: oswald;
	}
	iframe{
		width: 100%;
		margin-bottom: 20px;
	}
	.forms{
		input{
			width: 70%;
			height: 40px;
			font-family: Oswald;
			margin-bottom: 20px;
			border: 2px solid $main-color;
			padding-left: 5px;
			color: $main-color;
			&:focus{
				border: 2px solid $color2;
				font-weight: bold;
			}
		}
		textarea{
			color: $main-color;
			font-family: Oswald;
			border: 2px solid $main-color;
			padding-left: 5px;
			&:focus{
				border: 2px solid $color2;
				font-weight: bold;
				color: $color2;
			}
		}
		button{
			background-color: $color2;
			color: white;
			width: 96%;
			padding: 10px 0px 10px 0px;
			font-weight: bold;
			font-family: Oswald;
			margin: 10px 0px 10px 0px;
			&:hover{
				background-color: darken($color2, 20%);
				color: white;
			}
		}
	}
	*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: $main-color;
}
	h3{
		font-family: Oswald;
		color:$color2;
	}
}